Cython
Markdown
Pillow
PyYAML
Werkzeug
astunparse
boto3
botocore
boto
cachetools
cardinality
certifi
chardet
cycler
decorator
docutils
future
gast
gensim
h5py
idna
jmespath
joblib
kiwisolver
matplotlib
networkx
numpy
oauthlib
pandas
pip
pyasn1
pyparsing
python-dateutil
pytz
requests
rsa
s3transfer
scikit-learn
scipy
setuptools
six
sklearn
tensorboard
tensorflow
termcolor
threadpoolctl
torchsummary
torchvision
torch
tqdm
urllib3
wheel
wrapt
zlib
openssl
python